<div class="header-left">
  <div class="header-name">
    <a href="#">ryo</a>
  </div>
  <div class="header_title">
    <%= link_to "+asquest", root_path, class: "nav-link" %>
  </div>
  <div class="links">
    <%= link_to "リストを作成", "#", class: "nav-link listNew" %>
    <%= link_to "サインアウト", "#", class: "nav-link" %>
  </div>
</div>










        