<%= render "header_ber"%>
<div class="edit-wrapper">
 
    
    <%# タスクの概要 %>
  <div class="task-edit">
    <ul class="edit-list">
      <li>クエスト内容</li> 
        <div class="task-box">
          <li class="content">
          <%= @task.content %>
          </li>
          <% if @task.user_id == current_user.id %>
          <div class="task-destroy">
           <%= link_to 'クエスト完了', task_path(@task.id), method: :delete %>
          </div>
          <% end %>

        </div>
    </ul>
  </div>
</div>