<div class="wrapper">
  <%= render "header_ber"%>
   <div class="main-text">
     <h1>タスク一覧</h1>
   </div>
     
     <%# <% if user_signed_in? && current_user.id == @task.user_id %> %>
       <% @tasks.each do |task| %>
        <li class="task"><%= link_to task.content, edit_task_path(task.id), method: :get %></li>
       <% end %>
     <%# <% end %> %>
</div>

 