// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* ヘッダー */

.right-main{
  width: 70%;
  height: calc(100vh - 100px);
  margin-left: auto;
  background-image: image-url("dora.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}